body {
  font-family: sans-serif;
  background: lightblue;
}


.loginbox input[type="submit"]{
                border: none;
                outline: none;
                height:40px;
                width: 150px;
                background:#d41717;
                color: #fff;
                font-size: 18px;
                border-radius:20px;
                display: inline-block;
                }
      .loginbox input[type="submit"]:hover{
                cursor:pointer;
                background:#fff;
                color:#000;
                }
      .active{
            color:#fff;
            background:#e02626;
              border-radius:4px;
                }

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.b2 {background-color: #4CAF50;} 
.b3 {background-color: #4CAF50;} 
