{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<center>
<h1>&#x202e;Check your next lesson &#129488</h1>
<!-- &#x202e; is the RIGHT TO LEFT OVERRIDE HEX code-->

 <div class = "container">
    <form name="inquiry" action="{{ url_for('index')}}" method="POST">
      <label for="cls"> &#x202e;Class:</label><br>
      <input type="text" id="cls" name="cls" required placeholder="YES"><br><br>
      <label for="sbjc"> &#x202e;Day:</label><br>
      <input type="text" id="dy" name="dy"style="text-transform: capitalize;" placeholder="IT"><br><br>
      <label for ="tme"> &#x202e;Time now(24h):</label><br>
      <input type="text" id="tme" name="tme" placeholder="IS!"><br><br>
  </div>
  <div class="loginbox">
      <input type="submit" name="" value="Submit" onclick="templates/page1.html">  
  </div> 

  </form>
</center>
{% endblock %}
